@model DataAccessLayer.Entity.CourseDetails

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>CourseDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseDetailsID" class="control-label"></label>
                <input asp-for="CourseDetailsID" class="form-control" />
                <span asp-validation-for="CourseDetailsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstitutionName" class="control-label"></label>
                <input asp-for="InstitutionName" class="form-control" />
                <span asp-validation-for="InstitutionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnquiryNumber" class="control-label"></label>
                <input asp-for="EnquiryNumber" class="form-control" />
                <span asp-validation-for="EnquiryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInMonths" class="control-label"></label>
                <input asp-for="DurationInMonths" class="form-control" />
                <span asp-validation-for="DurationInMonths" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" class="form-control" />
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enddate" class="control-label"></label>
                <input asp-for="Enddate" class="form-control" />
                <span asp-validation-for="Enddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fees" class="control-label"></label>
                <input asp-for="Fees" class="form-control" />
                <span asp-validation-for="Fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
